---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-5 justify-center items-center h-full">
    <img src="/logo.svg" alt="logo" class="w-40 h-40" />
    <div class="flex gap-3">
      <a href="https://www.facebook.com/profile.php?id=61570108049178">
        <img src="/facebook-logo.svg" alt="facebook logo" class="w-8 h-8" />
      </a>
      <a href="https://www.instagram.com/printarte.studio/">
        <img src="/instagram-logo.svg" alt="facebook logo" class="w-8 h-8" />
      </a>
    </div>
  </div>
</Layout>
