<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>PRINTarte</title>
    <meta
      name="description"
      content="En PRINTarte transformamos ideas en realidad con impresiones 3D personalizadas. Desde decoración para el hogar hasta prototipos profesionales en Loreto, B.C.S."
    />
    <meta
      name="description"
      content="En PRINTarte transformamos ideas en realidad con impresiones 3D personalizadas. Desde decoración para el hogar hasta prototipos profesionales en Loreto, B.C.S."
    />
    <meta
      name="keywords"
      content="Impresiones 3D, decoración, regalos personalizados, prototipos, Loreto BCS, PRINTarte"
    />
    <link rel="canonical" href="https://printarte.studio" />
	<meta property="og:title" content="PRINTarte | Impresiones 3D Personalizadas" />
<meta property="og:description" content="Transformamos tus ideas en realidad con impresiones 3D únicas. Decoración, prototipos y regalos personalizados." />
<meta property="og:image" content="https://printarte.studio/images/preview.jpg" />
<meta property="og:url" content="https://printarte.studio" />
<meta property="og:type" content="website" />

  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #e7e1da;
  }
</style>
